---
import Card from "../components/Card.astro";
import Carousel from "../components/Carousel/Carousel";
import Layout from "../layouts/Layout.astro";

const images = [
  {
    url: "posts/servicio-01.jpg",
    alt: "Imagen 01",
  },
  {
    url: "https://img.freepik.com/foto-gratis/colores-arremolinados-interactuan-danza-fluida-sobre-lienzo-que-muestra-tonos-vibrantes-patrones-dinamicos-que-capturan-caos-belleza-arte-abstracto_157027-2892.jpg",
    alt: "Imagen 02",
  },
  {
    url: "https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg",
    alt: "Imagen 03",
  },
  {
    url: "foto-principal.jpg",
    alt: "Imagen 04",
  },
];
---

<Layout title="Ing. Marlon Geovanny Villamar Cruz">
  <div class="grid gap-10 w-[90vw] md:w-[60vw]">
    <Card />
    <Carousel client:load images={images} />
  </div>
</Layout>
