.lightbox {
  width: 100%;
  height: 100%;
  /* background: rgb(0, 0, 0, 4); */
  backdrop-filter: blur(2rem);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease;
}

.lightbox .close {
  width: 2rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.lightbox .close:hover {
  transform: scale(0.95);
}
.lightbox .close:active {
  transform: scale(1.1);
}
